@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --font: 'Rubik', sans-serif;
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
}

body {
  font-family: var(--font);
}

.App {
  
}